<%= render "shared/header"%>

<div class="layout-container">
  <% if user_signed_in?  %>
    <aside class="sidebar">
      <h4>メニュー</h4>
      <ul class="menu-list">
        <li>
          <%= link_to new_trip_path, class: "menu-button" do %>
            <%= image_tag "add_trip_icon.png", class:"menu-icon" %>
            <span>新しい旅行を作成</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "menu-button" do %>
            <%= image_tag "packing_list_icon.png", class:"menu-icon" %>
            <span>子供の荷物初期設定</span>
          <% end %>
        </li>
      </ul>
    </aside>

    <main class="main-content">
      <h4><%= current_user.name %> おやこが行った県</h4>
      <div class="map-container">
        <%= raw File.read(Rails.root.join('app/assets/images/japan_map.svg')) %>
      </div>
    </main>

    <section class="travel-list">
      <h4>今までの旅行</h4>
      <ul class="travel-items">
        <% @trips.each do |trip| %>
          <li class="travel-item">
            <%= link_to trip_path(trip), class: "travel-link" do %>
              <% if trip.start_date >= Date.today %> <!-- 今日以降の旅行 -->
                <p class="status planned">ただいま計画中！</p>
              <% end %>
              <p><strong>日にち:</strong> <%= trip.start_date %> 〜 <%= trip.end_date %></p>
              <p><strong>場所:</strong> <%= trip.prefectures.map(&:name).join(", ") %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>

<script>
  window.visitedPrefectures = <%= raw @visited_prefecture_ids.to_json %>;
</script>


<%= render "shared/footer" %>
